@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #D1CABE;
  --bg-main: #7D919C;
  --text-light: #171717;
  --text-main: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-light: #0a0a0a;
    --bg-main: #32383e;
    --text-light: #ededed;
    --text-main: #d1d5db;
  }
}

body {
  color: var(--text-light);
  background-color: var(--bg-light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bgColor {
  background-color: var(--bg-light);
}

.mainColor {
  color: var(--text-main);
}

.mainBgColor {
  background-color: var(--bg-main);
}
